*{
    scroll-behavior:smooth
}
body{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Montserrat,sans-serif;
    color:#0d1b2a;
    background-color:#e0e1dd
}
a{
    text-decoration:none;
    color:#2d3436
}
a:hover{
    text-decoration:none;
    color:#2d3436
}
a:focus{
    text-decoration:none;
    color:#2d3436
}
a:active{
    text-decoration:none;
    color:#2d3436
}
h1{
    font-family:Amiri,serif
}
input{
    box-sizing: border-box;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #0d1b2a;
    font-size: 1.3rem;
    letter-spacing: .25rem;
    background-color: #f1f1f1;
    outline: none;
    transition: .4s;
}
.header{
    background-size:cover;
    background-repeat:no-repeat;
    background-position:right top;
    height:100vh;
    margin:10px
}
.wrapper{
    width:90%;
    margin:0 auto
}
nav{
    display:flex;
    justify-content:space-between;
    padding-top:20px
}
.navbar ul{
    display:flex;
    justify-content:space-between;
    width:250px
}
.navbar ul li{
    list-style:none
}
.navbar ul li a{
    text-decoration:none;
    color:#474c48;
    font-size:1.25rem;
    letter-spacing:.25rem
}
.logo{
    font-size:1.5rem;
    position:relative;
    top:-20px;
    color:#1b263b
}
.logo img{
    width:100%;
    height:80px;
    padding: 15%;
}
.sectiontitle{
    text-align:center;
    cursor:default
}
.sectiontitle h1{
    font-size:5.5rem;
    letter-spacing:.75rem;
    font-weight:900;
    font-family: 'Montserrat', sans-serif;
    color:#0d1b2a;
    opacity:.15
}
.spacing{
    display:block;
    clear:both;
    height:5rem
}
.section_container{
    display:block;
    clear:both;
    height:relative;
    background-color:#aebab1;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 25px;
}
.section_container p{
    padding-left:25%;
    padding-right:25%;
    font-size:3rem;
    line-height:1.375;
    font-family:Amiri,serif;
    color:#fff;
    text-align:center;
    margin-bottom:0;
    margin-top:.5rem
}
.section_container p:hover{
    opacity:.5;
    cursor:default
}
.section_container h4{
    font-size:1.5rem;
    font-weight:900;
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    opacity:.15;
    margin-bottom:0;
    margin-top:1rem;
    cursor:default;
    padding-bottom:3rem;
}
/* Quotes */
.quotes{
    display:block;
    clear:both;
    background-color:#aebab1;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 25px;
    border-color: #5d767b;
    border-style: solid;
    height: 35vh;
}
#quote_text{
    padding-left: 10%;
    padding-right: 10%;
    font-size:3rem;
    line-height:1.375;
    font-family:'Amiri',serif;
    color:#fff;
    text-align:center;
    margin-bottom:0;
    margin-top:.5rem
}
#quote_text:hover{
    opacity:.5;
    cursor:default
}
#quote_author{
    font-size:1.5rem;
    font-weight:900;
    font-family:'Montserrat',sans-serif;
    text-align:center;
    opacity:.15;
    margin-bottom:0;
    margin-top:1rem;
    cursor:default;
    padding-bottom:3rem;
}
.quotesvg{
    padding-top:3%;
    text-align:center
}
.quotesvg i{
    font-size:5rem;
    color:#fff;
    opacity:.25;
    margin-top:0;
    margin-bottom:0;
    text-align:center
}
.quotebutton{
    text-align:center;
    margin-top:1rem;
    margin-bottom:3rem;
    cursor:pointer
}
#red-button{
    border-color: #1d3557;
    background-color: #EE6D78;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
#red-button i{
    color: #EE6D78;
}
#blue-button{
    border-color: #7400b8;
    background-color: #778DA9;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
#blue-button i{
    color: #778DA9;
}
#yellow-button{
    border-color: #003566;
    background-color: #f9dc5c;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
#yellow-button i{
    color: #f9dc5c;
}
#pink-button{
    border-color: #47126b;
    background-color: #ea9ab2;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
#pink-button i{
    color: #ea9ab2;
}
#quote-button{
    border-color: #003566;
    background-color: #6699ff;
    color: white;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.hero_converter{
    display:block;
    clear:both;
    height:relative;
    padding: 5%;
    border-radius: 25px;
    text-align: center;
}
.hero_converter_text{
    font-size:1.5rem;
    font-family:'Amiri',serif;
    color:#fff;
    margin-bottom:0;
    margin-top:.5rem
}
.hero_converter_text:hover{
    opacity:.5;
    cursor:default
}
#converter_unit{
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #0d1b2a;
    font-size: 1.3rem;
    letter-spacing: .25rem;
    background-color: #f1f1f1;
    outline: none;
    transition: .4s;
}
#converter_button{
    box-sizing: border-box;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #0d1b2a;
    font-size: 1.3rem;
    letter-spacing: .25rem;
    background-color: #f1f1f1;
    outline: none;
    transition: .4s;
    cursor: pointer;
}
#converter_result{
    box-sizing: border-box;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: #0d1b2a;
    font-size: 1.3rem;
    letter-spacing: .25rem;
    outline: none;
    transition: .4s;
}
.calculator{
    display:block;
    clear:both;
    height:relative;
    padding: 5%;
    border-radius: 25px;
    text-align: center;
    /* for div */
    font-size:1.5rem;
    font-family:'Amiri',serif;
    color:#fff;
    margin-bottom:0;
    margin-top:.5rem
}
#calc-input{
    font-size:1.5rem;
    font-family:'Amiri',serif;
    color:#fff;
    margin-bottom:0;
    margin-top:.5rem
}
#calc-input:hover{
    opacity:.5;
    cursor:default
}
#calc-table{
    margin-left:auto;
    margin-right:auto;
    padding:2px;
}

#calc-table td:nth-child(odd){
    text-align:right;
}

#calc-table td:nth-child(even){
    text-align:left;
    padding-left: 0.35em;
}
